<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="video-wrapper">
<video width="320" height="240" autoplay muted loop>
<source src="/static/pexels-nataliya-vaitkevich-76153651080p.mp4" type="video/mp4">
Your browser does not support the video tag.
  </video>
<div class="data">
<h2>easy</h2>
<h2> Care</h2>
</div>
<div class="solution">
 <h4>{{data.solve}}</h4>
 <br>
 <h4>As you bid farewell, remember that our doors are always open should you choose to return or seek further guidance.
     Your well-being will forever remain close to our hearts.
     Wishing you a future filled with vitality, strength, and the fulfillment of all your health aspirations.

  Farewell, and take good care.</h4>
</div>
</div>
</body>
</html>