<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>  
  <link rel="stylesheet" href="/static/style.css">  
</head>
<body>
  <div class="video-wrapper">
    <video width="320" height="240" autoplay muted loop>
      <source src="/static/pexelsnataliyavaitkevich7615435.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  <div class="chatbot-container">
  <h1>easyCare </h1> 
  <h3>
    Imagine having a dedicated companion that is available 24/7 to answer your health-related queries, provide accurate medical information, and offer guidance on a myriad of health concerns. Our HealthBot leverages advanced artificial intelligence to sift through vast medical databases, ensuring that you receive the most up-to-date and reliable information tailored to your needs
  </h3>
  <form class="" action="/data" method="post">
    <div class="container">
      <label for="exampleInputname1" class="form-label">name</label><br>
      <input name="name" class="form-control" id="exampleInputname1" aria-describedby="userID">
      <div id="userID" class="form-text"></div>
    <div class="container">
      <label for="exampleInputdiseasel1" class="form-label">disease</label><br>
      <input name="disease" class="form-control" id="exampleInputdisease1" aria-describedby="diseaseID">
      <div id="diseaseID" class="form-text"></div>
    </div>
    <div class="container">
      <label for="exampleInputgender1" class="form-label">gender</label><br>
      <input name="gender" class="form-text" id="exampleInputgender1">
    </div>
    <div class="container">
      <label for="exampleInputage" class="form-label">age</label><br>
      <input name="age" class="form-control" id="exampleInputage" aria-describedby="age">
      <div id="age" class="form-text"></div>
    </div><br>
    <input type="submit" class="btn btn-primary"></input>
  </form>
      </div>
  
  
</body>
</html>